In [1]:
import pandas as pd
import numpy as np
import seaborn as sn

In [2]:
%matplotlib inline
import matplotlib.pyplot as plt

In [6]:
df = pd.read_csv('IRIS.csv')

In [7]:
df

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [8]:
from sklearn.preprocessing import LabelEncoder

In [9]:
le_sp = LabelEncoder()

In [11]:
df['n_species'] = le_sp.fit_transform(df['species'])

In [13]:
df.sample(5)

,sepal_length,sepal_width,petal_length,petal_width,species,n_species
99,5.7,2.8,4.1,1.3,Iris-versicolor,1
20,5.4,3.4,1.7,0.2,Iris-setosa,0
70,5.9,3.2,4.8,1.8,Iris-versicolor,1
3,4.6,3.1,1.5,0.2,Iris-setosa,0
4,5.0,3.6,1.4,0.2,Iris-setosa,0

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
 5   n_species     150 non-null    int32
dtypes: float64(4), int32(1), object(1)
memory usage: 6.6+ KB

In [16]:
X = df.drop(['species','n_species'], axis='columns')

In [17]:
Y = df['n_species']

In [18]:
X

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [19]:
Y

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: n_species, Length: 150, dtype: int32

In [20]:
from sklearn.model_selection import train_test_split

In [27]:
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size=0.1)

In [31]:
x_train.shape

(135, 4)

In [29]:
x_test.shape

(15, 4)

In [37]:
from sklearn.linear_model import LogisticRegression
logistic = LogisticRegression(max_iter=10000,tol=0.000001)

In [38]:
logistic.fit(x_train, y_train)

LogisticRegression(max_iter=10000, tol=1e-06)

In [39]:
logistic.predict(x_test)

array([0, 2, 0, 0, 1, 1, 2, 2, 2, 1, 1, 1, 2, 1, 2])

In [40]:
logistic.score(x_test,y_test)

1.0